@use "../../../app/variables/mixins" as *;
@use "../../../app/variables/colors" as *;

.documentations {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 99;
}

.text_container {
    text-align: center;
}

.title {
    margin-bottom: 12px;
    @extend %font-outfit-bold;
    font-size: 50px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    @media (max-width: 950px) {
        font-size: 40px;
    }
}

.bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    @media (max-width: 769px) {
        height: 50%;
    }
}

.subtitle {
    font-size: 18px;
    @media (max-width: 1270px) {
        max-width: 869px;
    }
    @media (max-width: 950px) {
        max-width: 769px;
        font-size: 16px;
    }
    @media (max-width: 769px) {
        max-width: 469px;
        font-size: 16px;
    }
}

.card_container {
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 1270px) {
        gap: 17px;
    }
    @media (max-width: 950px) {
        gap: 12px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    max-width: 393px;
    height: 201px;
    padding: 40px 20px;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        rgba(109, 55, 254, 0.3) 0%,
        rgba(0, 255, 255, 0.3) 100%
    );

    border: none;
    position: relative;
    z-index: 1;
    @media (max-width: 1270px) {
        max-width: 290px;
        height: 224px;
    }
    @media (max-width: 950px) {
        max-width: 260px;
        height: 224px;
    }
    @media (max-width: 400px) {
        max-width: 340px !important;
        height: 224px;
    }
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
    background: $gradient;
    -webkit-mask:
        linear-gradient($white 0 0) content-box,
        linear-gradient($white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    @media (max-width: 400px) {
        max-width: 340px;
        height: 224px;
    }
}

.title_card {
    font-weight: 500;
    font-size: 25px;
    background: linear-gradient(90deg, #6d37fe 0%, #00ffff 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.description_card {
    font-size: 18px;
    @media (max-width: 950px) {
        font-size: 16px;
    }
}

.read_btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: 0.2s;
}

.read_text {
    display: inline-block;
    font-weight: 500;
    background: linear-gradient(90deg, #6d37fe 0%, #00ffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: 0.2s ease-in-out;
}

.read_btn:hover .read_text {
    background: $turquoise;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slider_container {
    width: 100%;

    @media (max-width: 769px) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding-bottom: 20px;
        gap: 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (min-width: 770px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card_container {
    @media (max-width: 769px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        scroll-padding-left: 20px;
    }

    @media (min-width: 770px) {
        display: flex;

        gap: 30px;
        justify-items: center;
    }
}

.card {
    @media (max-width: 769px) {
        flex: 0 0 auto;
        width: 260px;
        scroll-snap-align: start;
    }
    @media (max-width: 400px) {
        max-width: 340px !important;
        height: 224px;
    }
}
