$white: #f6f2ff;
$body-color: #061829;
$darkblue: #051b2f;
$lightblue: #0a223a;
$turquoise: #00ffff;
$purple: #6d37fe;
$gradient: linear-gradient(90deg, #6d37fe 0%, #00ffff 100%);
$gradient50: linear-gradient(
    90deg,
    rgba(109, 55, 254, 0.3) 0%,
    rgba(0, 255, 255, 0.3) 100%
);

$gray: #a2a2a2;
