@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNPVVIoZ6M11vWm6E.woff2")
        format("woff2");
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNPVVIoZ6M11vWm6E.woff2")
        format("woff2");
}
