@use "../colors" as colors;
@use "../fonts" as fonts;
@use "../mixins" as mixins;

* {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: colors.$body-color;
    max-width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: colors.$body-color;
    color: colors.$white;
    @extend %font-outfit-regular;
}
