@use "../../../app/variables/mixins" as *;
@use "../../../app/variables/colors" as *;

.swap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    gap: 40px;
    z-index: 999;
}

.bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
}

.container_text {
    text-align: center;
}

.title {
    margin-bottom: 12px;
    @extend %font-outfit-bold;
    font-size: 50px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    @media (max-width: 950px) {
        font-size: 40px;
    }
}

.subtitle {
    font-size: 18px;
    @media (max-width: 950px) {
        max-width: 769px;
        font-size: 16px;
    }
}

.description {
    max-width: 1173px;
    font-size: 18px;
    text-align: center;
    @media (max-width: 1270px) {
        max-width: 904px;
    }
    @media (max-width: 950px) {
        max-width: 729px;
        font-size: 16px;
    }
    @media (max-width: 769px) {
        max-width: 469px;
        font-size: 16px;
    }
}

.card_container {
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @media (max-width: 1270px) {
        gap: 15px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
    max-width: 288px;
    height: 242px;
    padding: 40px 20px;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        rgba(109, 55, 254, 0.3) 0%,
        rgba(0, 255, 255, 0.3) 100%
    );

    border: none;
    position: relative;
    z-index: 1;
    @media (max-width: 1270px) {
        max-width: 214px;
        height: 245px;
        padding: 40px 20px;
    }
    @media (max-width: 950px) {
        max-width: 190px;
        height: 205px;
        padding: 10px 10px;
    }
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
    background: $gradient; /* тот же градиент, что и на кнопке */
    -webkit-mask:
        linear-gradient($white 0 0) content-box,
        linear-gradient($white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.title_card {
    font-weight: 500;
    font-size: 25px;
    background: linear-gradient(90deg, #6d37fe 0%, #00ffff 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    @media (max-width: 950px) {
        font-size: 20px;
    }
}

.description_card {
    font-size: 18px;
    @media (max-width: 950px) {
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    .image {
        max-width: 50px;
        height: 50px;
    }
}

// Контейнер слайдера
.slider_container {
    width: 100vw;

    @media (max-width: 769px) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding-bottom: 20px;
        gap: 20px;

        &::-webkit-scrollbar {
            display: none; // скрываем скроллбар
        }
    }

    @media (min-width: 770px) {
        overflow-x: visible;
        scroll-snap-type: none;
        padding-bottom: 0;
    }
}

.card_container {
    @media (max-width: 769px) {
        display: flex;
        flex-wrap: nowrap; // горизонтальная прокрутка
        gap: 20px;
    }

    @media (min-width: 770px) {
        display: grid; // grid для ПК
        grid-template-columns: repeat(4, 1fr); // 4 карточки в ряд
        justify-items: center; // центрируем карточки внутри колонок
        gap: 30px;
        width: 100%;
        max-width: 1240px; // ограничение по ширине контейнера
        margin: 0 auto; // центрируем контейнер
    }
}

.card {
    flex: 0 0 auto; // для мобильного слайдера
    scroll-snap-align: start;

    @media (max-width: 769px) {
        width: 190px; // ширина карточки на мобильных
    }

    @media (min-width: 770px) {
        width: 288px; // ширина карточки на ПК
    }
}
