@use "../../../app/variables/mixins" as *;
@use "../../../app/variables/colors" as *;

.swap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    gap: 40px;
    z-index: 999;
}

.bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
}

.container_text {
    text-align: center;
}

.title {
    margin-bottom: 12px;
    @extend %font-outfit-bold;
    font-size: 50px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.subtitle {
    font-size: 18px;
}

.description {
    max-width: 1173px;
    font-size: 18px;
    text-align: center;
}

.card_container {
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
    max-width: 288px;
    height: 242px;
    padding: 40px 20px;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        rgba(109, 55, 254, 0.3) 0%,
        rgba(0, 255, 255, 0.3) 100%
    );

    border: none;
    position: relative;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
    background: $gradient; /* тот же градиент, что и на кнопке */
    -webkit-mask:
        linear-gradient($white 0 0) content-box,
        linear-gradient($white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.title_card {
    font-weight: 500;
    font-size: 25px;
    background: linear-gradient(90deg, #6d37fe 0%, #00ffff 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.description_card {
    font-size: 18px;
}
