@use "../../app/variables/colors";
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    margin-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.btn_link {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background: none;
    border: 1px solid transparent;
    background-image:
        linear-gradient(colors.$darkblue, colors.$darkblue),
        linear-gradient(90deg, #6d37fe, #00ffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    svg path {
        transition: fill 0.3s ease;
    }

    &:hover {
        background: colors.$gradient;
        border: none;
        svg path {
            fill: colors.$white;
        }
    }
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text {
    color: colors.$gray;
    font-size: 18px;
}
