@use "../../app/variables/colors";
.footer {
    position: relative; // чтобы absolute фон был внутри
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    margin-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    padding-top: 100px;
    z-index: 1; // контент выше
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 240px;
    object-fit: cover;
    z-index: -1;
}

.btn_link {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background: none;
    border: 1px solid transparent;
    background-image:
        linear-gradient(colors.$darkblue, colors.$darkblue),
        linear-gradient(90deg, #6d37fe, #00ffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    svg path {
        transition: fill 0.3s ease;
    }

    &:hover {
        background: colors.$gradient;
        border: none;
        svg path {
            fill: colors.$white;
        }
    }
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text {
    color: colors.$gray;
    font-size: 18px;
}
